body {
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
h1 {
    color: red;
    background-color: pink;
    float: left;
    font-size: 20px;
    flex-direction: column-reverse;
}
h2 {
    color: yellow;
    background-color: black;
    font-size: 15px;
}
p {
    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ;
}
span {
    color: red;
}
h3 {
    color: yellow;
    background-color: black;
    font: 12px;
}
h4 {
    color: turquoise;
}
span {
    color: red;
}
